# Q1

여러분은 파이썬을 통해 설문조사 문항의 응답내역을 분석하게 되었습니다. 문항별 응답내용에는 하나의 응답만 할 수 있는 single choice 문제와 여러 응답을 선택할 수 있는 multiple choice 문제가 있습니다. 2개를 구분하기 위해 single choice 문항 번호에 "_"를 표기하지 않기로 했습니다.

문항별 응답내역이 'question'에 담겨 있을 때, 조건문과 반복문을 사용하여 아래와 같은 결과가 출력되도록 코드를 작성해보세요.

🔽 출력 예시

```
['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']
```
# 응답 설문 문항
```
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']
```

In [17]:
# 응답 설문 문항
questions = [
    'Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 
    'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
    'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
    'Q10_3'
]

qlst = []

for question in questions:
    if '_' not in question:
        qlst.append(question)

qlst

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [18]:
import  re

# 응답 설문 문항
questions = [
    'Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 
    'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
    'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
    'Q10_3'
]

# 단순 문자 포함 방법

qlst = []

for question in questions:
    if '_' not in question:
        qlst.append(question)

print(qlst)

# 정규식 사용 방법

import re

qlst2 = []

for question in questions:
    if re.search(r'^Q\d$', question):
        qlst2.append(question)

print(qlst2)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']
['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

# Q2

한스 로슬링(Hans Rosling, 1948년 7월 27일 ~ 2017년 2월 7일)은 스웨덴의 의사이자 통계학자로 비영리 벤처 갭마인더 재단의 공동설립자이기도 합니다. 빅데이터를 가장 잘 활용하는 보건 통계학자로 알려져 있습니다. 베스트셀러 책인 "팩트풀니스" 저자이기도 합니다. 갭마인더 사이트에서는 연도별, 국가별 GDP와 기대수명 데이터를 제공하고 있는데, 대표적으로 파이썬 라이브러리 중 'seaborn'에서 제공되는 예제 데이터가 있습니다. 오늘은 이 데이터를 활용해 문제를 풀어보겠습니다. 

다음의 데이터는 연도, 국가별 기대수명을 나타내고 있는 데이터 입니다. 2011년 부터의 연도별, 국가별 평균 기대수명을 구해주세요. (2011년도 포함되게 구합니다.)

[필수 조건] groupby 나 pivot_table을 활용합니다. groupby 로 구할 때 unstack()이라는 기능을 사용하여 아래와 같이 컬럼에 인덱스 값을 올려서 표기할 수 있습니다.
만약 행에는 '연도'가, 열에 '국가'가 들어있고 수치 데이터의 결과값이 아래와 같다면, 출력형태는 조금 달라도 괜찮습니다.

데이터는 다음의 방법으로 읽어옵니다.

```python
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df
```

🔽 출력 예시

Year	Canada	France	Germany	Great Britain	Japan	USA
2011	81.4	82.3	80.5	81.0	82.7	78.7
2012	81.6	82.1	80.6	81.0	83.2	78.8
2013	81.7	82.3	80.6	81.1	83.4	78.8
2014	81.8	82.8	81.2	81.4	83.7	78.9
2015	81.9	82.4	80.7	81.0	83.9	78.7
2016	82.0	82.7	81.0	81.2	84.1	78.7
2017	81.9	82.7	81.1	81.3	84.2	78.6
2018	82.0	82.8	81.0	81.3	84.3	78.7
2019	82.2	82.9	81.3	81.4	84.4	78.8
2020	81.7	82.3	81.1	80.4	84.7	77.0

In [20]:
import pandas as pd

# 호출
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")

# 피벗 테이블 생성
df_group = df.copy()

df_group = df_group.groupby(['Year', 'Country'])['Life_Expectancy'].mean().unstack()

df_group.sort_index(axis=0, ascending=True)

print('--- groupby 사용 ---')

print(df_group.loc[2011:])

# 피벗 테이블 생성
df_pivot = df.copy()

df_pivot = df_pivot.pivot_table(
    values = 'Life_Expectancy',
    index = 'Year',
    columns = 'Country',
    aggfunc = 'mean'
)

df_pivot.sort_index(axis=0, ascending=True)

print('--- pivot table 사용 ---')

print(df_pivot.loc[2011:])

ModuleNotFoundError: No module named 'pandas'

# Q3

Jupyter notebook 은 문서와 코드를 함께 작성할 수 있다는 점이 장점입니다. Jupyter notebook 에서 지원하는 Markdown 문법을 사용하여, 이번 주에 배운 내용을 정리해 보세요!

이번주 학습 내용은 다음 링크를 참고해주세요! [1주차 학습 내용] (스터디 전용 강좌 1주차 학습 안내 링크)
1. 데이터 분석 환경 구성 : https://www.boostcourse.org/ds112/joinLectures/28140
2. 데이터 분석 준비하기 : https://www.boostcourse.org/ds112/joinLectures/28138

- Pandas를 통한 파일 저장과 불러오기
  * to_csv("파일명", index=False) : csv 파일로 저장하기
  * read_csv("파일명") : csv 파일 불러오기
  * shape를 통한 행과 열의 수 보기
  * head, tail, sample 을 통한 일부 데이터 가져오기

- DataFrame의 info(), describe() 등을 통한 요약과 기술통계 값 구하기
  * info()
  * describe()
  * nunique()
  * index
  * columns
  * values

- Pandas의 DataFrame과 Series의 이해
  * Series : 1차원 벡터구조
  * DataFrame : 2차원 행렬구조

- 색인하기
  * [컬럼]
  * loc[행]
  * .loc[행, 열]
  * .loc[조건식, 열]

- DataFrame의 데이터 타입 이해하기
  * 날짜 데이터의 변환

- DataFrame 다루기
  * 열(column) 인덱싱
  * 행(index) 인덱싱
  * 행, 열 인덱싱
  * 정렬하기 : sort_values 사용하기
  * 조건식 사용하기

- 빈도수 구하기
  * 한 개의 변수 : series.value_counts()
  * 두 개의 변수 : pd.crosstab()

- groupby 와 pivot_table
  * 다양한 연산식의 사용

# Q4

앞으로 우리는 공공데이터포털에서 데이터를 다운로드 받아 과정을 진행할 예정입니다. 본격적인 학습 이전에! 데이터를 다루는 방법이 익숙해지도록 한번 더 연습해보고, 어떤 문제를 풀 수 있을지도 함께 고민해보아요!

공공데이터포털에서 원하는 데이터를 다운로드 받아 경로를 설정하고, 주피터 노트북과 판다스를 통해 불러와 보세요!
어떤 데이터를 사용해야할지 고민된다면 다음 링크의 데이터를 다운로드 받아도 좋습니다.

이 때, 인코딩 오류가 발생한다면 encoding="cp949" 옵션을 사용해 주세요!

In [ ]:
# 데이터 참조 : http://data.seoul.go.kr/dataList/OA-12252/S/1/datasetView.do

# 각 지하철 역별 승하차 인원 총계 취합 (Row : 지하철역, Col : 년월 )

import pandas as pd

df = pd.read_csv("./서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv", encoding='cp949')

df_pivot = df.copy()

df_pivot['총 승차인원'] = 0

df_pivot['총 하차인원'] = 0

for index in list(df_pivot):
    if index.endswith('승차인원'):
        df_pivot['총 승차인원'] += df_pivot[index]
    if index.endswith('하차인원'):
        df_pivot['총 하차인원'] += df_pivot[index]

# 피벗 테이블 생성 - 승차 / 하차 이렇게 나뉠 것이다.
df_pivot = df_pivot.pivot_table(
    values = ['총 승차인원', '총 하차인원'],
    index = '지하철역',
    columns = '사용월',
    aggfunc = 'sum'
)

df_pivot.to_excel('output.xlsx', sheet_name='승하차_취합')

print(df_pivot)

# 유의 사항 : 결측값이 나올 수도 있다. 사유는 아래와 같다.
# - 일부 지하철 역에 대해 개통이 이뤄지지 않았을 경우 (ex. 신림선 - 서울지방병무청역은 2022년 5월 이후 개통되어 이전 데이터는 NaN 이 나옴.)
# - 일부 지하철 역에 대해 측정이 이뤄지지 않았을 경우
# - 인구 측정 중 천재지변으로 인한 작업 중단이 발생한 경우 등