## ë¬¸ì œ ì°¸ì¡°
- https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

In [4]:
# ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°
# ë¬¸ì œì—ì„œëŠ” ë“±ë¡ ë‚ ì§œ ASC ë¡œ ë˜ì–´ ìˆë‹¤ëŠ” ì ì„ ì¸ì§€í•˜ë¼. ê·¸ë˜ì„œ ì¶œë ¥ ê²°ê³¼ë¬¼ì€ ë‚ ì§œ ìˆœìœ¼ë¡œ ë‚˜ì˜¤ê²Œ ë  ê²ƒì´ë‹¤.
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [5]:
# 1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)
# ['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']

# groupby ë¡œ ì—°ìŠµí•˜ê¸° - Pandas ì— ìµìˆ™í•´ì§€ê¸° ìœ„í•´ ì¼ë¶€ëŸ¬ ì‘ì„±.
df_popular = df.copy()

# ì¸ê¸° ë™ì˜ìƒì€ ì±„ë„ ID ë¥¼ í†µí•´ ì·¨í•©ëœë‹¤. ìƒìœ„ 10 ê°œ ì¸ë±ìŠ¤ë¥¼ ë§Œë“¤ì–´ ë‘”ë‹¤.
popular_channelIdxs = df_popular \
                            .groupby('channelId') \
                            .agg(cnt = ('channelId', 'count')) \
                            .sort_values(by = 'cnt', ascending = False) \
                            .head(10) \
                            .index

# ìƒìœ„ ì¸ë±ìŠ¤ 10 ê°œë¥¼ ë½‘ì•˜ë‹¤ë©´, í•´ë‹¹ ì¸ë±ìŠ¤ì˜ ì¡´ì¬ ì—¬ë¶€ë¥¼ isin ìœ¼ë¡œ ë”°ì§„ë‹¤. ê·¸ë¦¬ê³ , ì±„ë„ ì´ë¦„ì„ ê°€ì ¸ì˜¤ê²Œ ë˜ë©´ ì—¬ëŸ¬ ê°œ ë‚˜ì˜¤ê¸° ë•Œë¬¸ì— unique ë¡œ ì·¨í•©í•œë‹¤.
channel_names = list(df_popular.loc[df_popular['channelId'].isin(popular_channelIdxs)]['channelTitle'].unique())

# ì±„ë„ ì´ë¦„ ëª©ë¡ë“¤ì€ Series ë¡œ ë‚˜ì˜¤ê¸° ë•Œë¬¸ì—, list í™” ì‹œì¼œ ë°˜í™˜í•œë‹¤.
print(channel_names)

# ëª¨ë²” ë‹µì•ˆ
answer = list(
    df \
        .loc[
            df['channelId'].isin( \
                df['channelId']
                    .value_counts()
                    .head(10)
                    .index
                )
        ]['channelTitle']
    .unique()
)

print(answer)

['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']
['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']

In [6]:
# 2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikes ìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼.
# ['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']
df_dislike = df.copy()

# unique() ë¥¼ ì‚¬ìš©í•˜ë©´ Series ë¡œ ë°˜í™˜ëœë‹¤.
dislike_channelIds = df_dislike \
                        .loc[df_dislike['likes'] < df_dislike['dislikes']]['channelId'] \
                        .index

# ìœ„ì™€ ê°™ì€ ìˆœìœ¼ë¡œ ì •ë‹µì„ ì¶œë ¥í•˜ê¸° ìœ„í•´... ì½”ë“œ ìƒ ë³µì¡ë„ê°€ ì»¤ì§€ë”ë¼ë„, ì•„ë˜ì™€ ê°™ì´ ì‘ì„±í•˜ëŠ” ê²ƒì´ ì˜³ë‹¤.
print(list(df_dislike.loc[df_dislike.index.isin(dislike_channelIds)]['channelTitle'].unique()))

# ëª¨ë²”ë‹µì•ˆ
answer = list(
    df_dislike.loc[
        df_dislike['likes'] < df_dislike['dislikes']
    ]['channelTitle'].unique()
)

print(answer)

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']
['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

In [7]:
# 3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.
# 71

df_change = df.copy()

# count ëŠ” N/A ì´ ì•„ë‹Œ ë°ì´í„° ê°œìˆ˜. nunique ëŠ” í•´ë‹¹ group ì˜ ì›ì†Œ ê°œìˆ˜.
df_change_rows = df_change \
        .groupby(['channelId']) \
        .agg(cnt = ('channelTitle', 'nunique')) \
        .reset_index()

print(len(
    df_change_rows.loc[
        df_change_rows['cnt'] > 1
    ]
))

# ëª¨ë²” ë‹µì•ˆ
answer = df_change[['channelTitle', 'channelId']] \
            .drop_duplicates() \
            ['channelId'].value_counts()

# Series ì— ëŒ€í•´ì„œë„ ì›ì†Œì˜ ì¡°ê±´ì— ë”°ë¼ ì•„ë˜ì™€ ê°™ì´ ì·¨í•©ì‹œí‚¬ ìˆ˜ ìˆë‹¤. ë­‰ì œ í’€ì´ì— ì°¸ê³ í•˜ê¸¸ ë°”ë€ë‹¤.
print(len(
    answer[answer > 1]
))

71
71

In [8]:
# 4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?
# 24

df_sunday = df.copy()

# DateTime ìœ¼ë¡œ ê³„ì‚°í•˜ê¸° ìœ„í•´ ì•„ë˜ì™€ ê°™ì´ ë³€í™˜ ê³¼ì •ì„ ê±°ì³ì•¼ í•œë‹¤.
df_sunday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

# ì¼ìš”ì¼ì€ 6, ì›”ìš”ì¼ì€ 0 ìœ¼ë¡œ ë°›ëŠ”ë‹¤. ìš”ì¼ ê°’ì€ weekday ë¡œ ë°›ëŠ”ë‹¤.
# day_name() == 'Sunday' ë¡œ í•´ë„ ë¬´ê´€í•˜ë‹¤.
df_sunday_categoryId = df_sunday \
    .loc[
        df_sunday['trending_date2'].dt.weekday == 6
    ].groupby('categoryId') \
    .agg(cnt = ('categoryId', 'count')) \
    .sort_values(by = 'cnt', ascending = False) \
    .head(1) \
    .index[0]

print(df_sunday_categoryId)

# ëª¨ë²”ë‹µì•ˆ (ì§§ì€ ë‹µì„ ì›í•˜ë©´, value_counts ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²ƒë„ ê´œì°®ì€ ê±° ê°™ë‹¤.)
df_sunday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

answer = df_sunday.loc[
            df_sunday['trending_date2'].dt.day_name() == 'Sunday'
        ]['categoryId'] \
        .value_counts() \
        .index[0]

print(answer)

24
24

In [9]:
# 5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼
# ì •ë‹µì€ ì‚¬ì´íŠ¸ ê·¸ëŒ€ë¡œ ì°¸ì¡°í•´ì„œ ì§„í–‰í•˜ë©´ ë˜ê² ë‹¤.

df_weekday = df.copy()

df_weekday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

# ìš”ì¼ì„ ë¨¼ì € êµ¬í•´ì¤€ë‹¤.
df_weekday['day_name'] = df_weekday['trending_date2'].dt.day_name()

answer_my = df_weekday[['categoryId', 'day_name']].groupby(['categoryId', 'day_name']).agg({ 'categoryId': 'count' }).unstack()

display(answer_my)

# ëª¨ë²” ë‹µì•ˆ
df_weekday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

# as_index ì˜ ì—­í• ì— ëŒ€í•´ ì•Œì•„ì•¼ í•œë‹¤. ì´ëŠ” Row, Col ë¡œ êµ¬ì„±í•  ìˆ˜ ìˆê²Œë” ì—¬ë¶€ë¥¼ ëœ»í•˜ëŠ” ê²ƒìœ¼ë¡œ íŒë‹¨ëœë‹¤.
group = df_weekday.groupby([df_weekday['trending_date2'].dt.day_name(), 'categoryId'], as_index = False).size()

answer = group.pivot(index = 'categoryId', columns = 'trending_date2')

display(answer)

           categoryId
day_name       Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [14]:
# 6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

df_comment = df.copy()

# ë¬¸ì œ ìš”êµ¬ ì‚¬í•­ì— ë”°ë¼ view_count ê°’ì´ 0 ì´ ì•„ë‹ˆì–´ì•¼ í•œë‹¤.
df_comment = df_comment \
                .loc[df_comment['view_count'] != 0]
                
# dropna ëŠ” ê°’ì´ ì•ˆ ë‚˜ì˜¤ëŠ” ì¼€ì´ìŠ¤ì— ëŒ€í•œ ë³´ì•ˆ ë¡œì§ìœ¼ë¡œ ë³´ë©´ ëœë‹¤.
df_comment['ratio'] = (df_comment['comment_count'] / df_comment['view_count']).dropna()

df_comment = df_comment.sort_values(by = 'ratio', ascending = False)

# head() ë¡œ ë°ì´í„°ë¥¼ ê°€ì ¸ì™€ë„ ê°’ì„ ë°˜í™˜í•˜ëŠ” ê²ƒì´ ì•„ë‹˜ì„ ìœ ì˜í•˜ë¼. ì•„ë˜ì™€ ê°™ì´ loc ì„ ì ê·¹ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ë‹¤.
print(df_comment.iloc[0]['title'])

60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)

In [23]:
# 7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)
df_ratio = df.copy()
                
# dropna ëŠ” ê°’ì´ ì•ˆ ë‚˜ì˜¤ëŠ” ì¼€ì´ìŠ¤ì— ëŒ€í•œ ë³´ì•ˆ ë¡œì§ìœ¼ë¡œ ë³´ë©´ ëœë‹¤.
df_ratio['ratio'] = (df_ratio['comment_count'] / df_ratio['view_count']).dropna().sort_values()

df_ratio = df_ratio.loc[df_ratio['ratio'] != 0]

df_ratio = df_ratio.sort_values(by = 'ratio', ascending = True)

# head() ë¡œ ë°ì´í„°ë¥¼ ê°€ì ¸ì™€ë„ ê°’ì„ ë°˜í™˜í•˜ëŠ” ê²ƒì´ ì•„ë‹˜ì„ ìœ ì˜í•˜ë¼. ì•„ë˜ì™€ ê°™ì´ loc ì„ ì ê·¹ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ë‹¤.
print(df_ratio.iloc[0]['title'])

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [40]:
# 8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]

answer = df.iloc[num].title
print(answer)

[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°